@import url("https://images-na.ssl-images-amazon.com/images/I/31d25A7v16L.css?AUIClients/AmazonUIFont-AmazonEmber");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amazon Ember', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 63px;
    background-color: #0f1824;
    position: relative;
}

.logo-container img {
    width: 100px;
    padding: 19px;
    position: absolute;
}

.logo-container i {
    display: none;
}

.location-icon i {
    position: absolute;
    color: rgb(253, 241, 241);
    font-size: 19px;
    padding-left: 7.5vw;
    padding-top: 26px;
}

.location-text {
    padding: 18px;
    margin-left: -23px;
}

.top-text {
    margin-left: 9vw;
    color: rgb(204, 204, 204);
    font-size: 12px;
    font-weight: 400;
}

.bottom-text {
    margin-left: 9vw;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
}

.search-box {
    position: absolute;
}

.more {
    position: relative;
    width: 50px;
    height: 40px;
    background-color: #d8d8d8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13vw;
    margin-top: -54px;
}

.more span {
    position: absolute;
    color: rgb(103 111 111);
    font-size: 13px;
    font-weight: 400;
    margin-left: -12px;
}

.more i {
    position: absolute;
    color: rgb(103 111 111);
    font-size: 14px;
    font-weight: 400;
    margin-left: 1.5vw;
}

.hero-buttons input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59vw;
    height: 36px;
    margin-left: 301px;
    border-color: transparent;
    margin-top: -40px;
}

.amazon-field {
    font-size: 15px;
    font-weight: 400;

}

.search-icon {
    position: relative;
    width: 50px;
    height: 40px;
    background-color: #febd69;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 74.9vw;
    margin-top: -40px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -28px;
    margin-left: 64vw;
    gap: 5px;
}

.language img {
    width: 22px;
    height: 15px;
}

.language span {
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.language i {
    color: rgb(168 182 182);
    margin-left: -6px;
    margin-top: 6px;
}

.sign-in {
    margin-top: -30px;
    margin-left: 75vw;
}

.sign-in .top-text {
    margin-left: 9vw;
    color: rgb(255 249 249);
    font-size: 12px;
    font-weight: 400;
}

.sign-in .bottom-text {
    margin-left: 9vw;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
}

.orders {
    margin-top: -31px;
    margin-left: 83vw;
}

.orders .top-text {
    margin-left: 9vw;
    color: rgb(255 249 249);
    font-size: 12px;
    font-weight: 400;
}

.orders .bottom-text {
    margin-left: 9vw;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
}

.cart {
    position: relative;
    margin-top: -32px;
    margin-left: 95vw;
    color: aliceblue;
}

.cart svg {
    display: flex;
    width: 33px;
    fill: #d8d8d8;
    margin-left: 22px;
    margin-top: 6px;
}

.cart .cart-badge {
    position: absolute;
    color: #febd69;
    top: -12px;
    right: 11px;
    font-size: 16px;
    font-weight: 700;
}

.cart .cart-name {
    top: 16px;
    position: absolute;
    right: -28px;
    font-size: 14px;
    font-weight: 700;
}

.content {
    display: none;
}

@media screen and (max-width:1200px) {
    .container {
        display: flex;
        width: 532px;
        height: 194px;
        position: relative;
        background-color: #1b2838;
    }

    .location-icon i {
        display: none;
    }

    .location-text {
        display: none;
    }

    .logo-container {
        margin-top: 12px;
        position: absolute;

    }

    .logo-container img {
        width: 120px;
        margin-top: -50px;
        margin-left: 45px;
    }

    .logo-container i {
        display: flex;
        font-size: 9vw;
        color: white;
        margin-left: 17px;
    }

    .hero-buttons input {
        display: flex;
        margin-top: 89px;
        width: 116vw;
        height: 55px;
        border-color: transparent;
        margin-left: 20px;
        border-radius: 8px;

    }

    .amazon-field {
        font-size: 15px;
        font-weight: 400;
    }

    .search-icon {
        position: relative;
        width: 55px;
        height: 58px;
        background-color: #febd69;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 458px;
        margin-top: -58px;
        font-size: 28px;
        font-weight: bold;
    }

    .sign-in {
        display: none;
    }

    .orders {
        display: none;
    }

    .language {
        display: none;
    }

    .cart {
        display: none;
    }

    .content {
        display: flex;
    }

    .content .sign-in {
        display: flex;
        margin-top: -25px;
    }

    .content .sign-in span {
        font-size: 22px;
        margin-left: 40px;
        color: white;
    }

    .content .sign-in i {
        font-size: 23px;
        margin-top: 3px;
        margin-left: -4px;
    }

    .contact i {
        font-size: 35px;
        margin-top: -37px;
        margin-left: 0vw;
    }

    .content .cart {
        display: flex;
        margin-left: -12px;
        margin-top: -162px;
    }

    .content .cart-badge {
        margin-top: 123px;
        left: 36px;
    }

    .content .cart svg {
        width: 38px;
    }

    .sells ul {
        color: white;
        display: flex;
        list-style: none;
        gap: 22px;
        margin-top: 100px;
        margin-left: -123vw;
    }
}